
#topper
{ 
  top: 0;
  padding: 10px;
}

#firstbutton_header
{display:inline-block;
margin-right:10px;
 width:200px;
  position: relative;
  bottom: 30px;
  left:30px;
} 

#secondbutton_header
{display:inline-block;
 width:200px;
  position: relative;
  bottom: 30px;
}

#signinbutton_header{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  position: relative;
  bottom: 30px;

}
#Medical_Historybutton_header
{
 display:inline-block;
  width:250px;
  position: relative;
  bottom: 30px;
  right:30px;
}

#name
{ 
 display:inline-block;
 position: relative;
  bottom: 30px;
  
}
.blacklink 
{

color:black;
}


#signinbutton_header:hover 
{background-color: #3e8e41}

#signinbutton_header:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#regiserbutton_header
 {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: relative;
  bottom: 30px;

}

#regiserbutton_header span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#regiserbutton_header span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#regiserbutton_header:hover span {
  padding-right: 25px;
}

#regiserbutton_header:hover span:after {
  opacity: 1;
  right: 0;
} 

#Signoutbutton_header
{
 display:inline-block;
  position: relative;
  bottom: 30px;
  left:50px;
  border-style: double;
}

a:link {
  text-decoration: none;
}


#make_appointment_button
{
  border-style: double;
  border-width: thick;


}


#check_availibity_button
{

  border-style: double;
  border-width: thick;

}
.appointment_tr
{

width:200px;

}


#Page_Sign
{

text-align: center;
font-style: italic;
font-size: 40px;
}

#table_center
{
margin-left:40%;

}
input[class=sign1] {
  width: 5%;
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin-left: 45%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align:center
}
input[class=sign2] {
  width: 5%;
  background-color: blue;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align:center
}


/check aviabilty
.dropdown {
  position: relative;
  display: inline-block;
}


#check_table
{
text-align:center;
width: 80%;
margin-bottom: 50px;

}




#check_submit
{
background-color: red;
border-style: double;
height:45px;
 position: relative;
top: 50px;
}

#avaibility_lable
{
border-style: double;

}


#appointment_table
{
  position: relative;
 top: 50px;
left:150px;
width:80%;
border:double;
margin-bottom: 50px;
}

tr[class=tr_appointment_table]
{
border:solid;

}

td[class=td_yes_table]
{
background-color:green;

}
td[class=td_no_table]
{
background-color:red;

}

.h3_center
{

margin-left:30%;
}

#user_table
{
margin-left:10%;
}

#user2_table
{
margin-left:50%;
position: relative;
bottom: 180px;

}



section[id=indent-1]
{width: 50%; float: left;}
section[id=calender]
{width: 50%; float: right;}


.Specialty
{

display: inline-block;

}


section[id=Select_Doctor]
{
width: 50%; float:right ;

}
section[id=Select_Specailty]
{width: 50%; float: left;

}

.Appointment_table
{

height: 265px;
width:  50x;
overflow: scroll;

}
.delete_icon
{
  height: 50%;
  width: 50%;
}
